<!DOCTYPE html>

<html>
  <head>
    <% provide(:title, "Top") %>
    <div class="jumbotron">
  </head>    
    <body>
     <div class="container">
  
          <div class="row">
            <div class="col-md-7" >
             <center>  
              <div class="center-jumbotron" id="top-main">
              <h1 id="top-main-title">TaskApp</h1>
              <p class="coment">TaskAppは簡易ToDoツールです。</p>
              <p>↓初めてのご利用↓</p>
           　　 <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
              </div>
             </center>
            </div>
        
           <div class="col-md-4">  
             <h2 class="login">ログイン</h2>
             <form>
               <h5>メールアドレス</h5>
               <div class = "form-group">
                 <input type = "text" class="form-control">
               </div>
               
               <h5>パスワード</h5>
               <div class = "form-group">
                 <input type = "text" class="form-control">
               </div>
             </form>
               <%= link_to "ログイン状態です", signup_path, class: "btn btn-sm btn-primary disabled w-100" %>
             </div>
         </div>   
     </div>
    </body>
</html>