@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
  margin: 0;
  font-size: 14px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
 
}

.center h1 {
  margin-bottom: 10px;
  
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  margin: 0.67rem 0;
  font-family: inherit;
  
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  font-weight: normal;
}

.login{
  text-align: center;
  font-size: 80px;
}
  


p {
  font-size: 0.8rem;
  line-height: 1.7em;
  margin: 0 0 10px;
}




.row{
  background-color: #fff;
  margin-right: -15px;
  margin-left: -15px;
}



.center{
  text-align: center;
}


.jumbotron{
 
  padding-right: 60px!important;
  padding-left: 60px!important;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
}

.jumbotron p{
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200px;
  
}

/* ヘッダー */

li .header-list {
  color: #fff !important;
  font-weight: bold;
 
  &:hover {
    color: #808080 !important;
    background-color: teal !important;   
  }
}



 #dropdown-title {
  background-color: teal;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-style: italic;
}

#logo:hover {
  color: #808080;
  text-decoration: none;
 
}

/* ボディ */

#top-main-title{
  font-style: italic;
  font-weight: bold;
}

.form-control{
  background-color: #eeeeee;
  border: 1px solid #ccc;
  padding: 6px 12px
}

.btn-form{
  margin-top: 10px;
}

.form-acount{
  margin-right: 19px;
}



.login{
  font-size:45px;
}

.center-jumbotron{
  padding-top: 48px;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
